node_modules/
dist/
*.log
*.tsbuildinfo
.env
.env.*
!.env.example
!.env.production.example
.DS_Store
apps/client-cocos/library/
apps/client-cocos/temp/
apps/client-cocos/local/
apps/client-cocos/build/
apps/client-cocos/native/
